%center.index-title
  %h1 [ BLANK CREATIVE GROUP ]
  %br
  %br
.font-orange
  %h3 Become an artist with [ BLANK ] by signing up... It's that simple.
  %br
.font-dope
  %h4 - No contracts or weird scummy business people trying to take your money.
  %br
  %h4 - Once you sign up you become part of a growing community/family of artists.
  %br
  %h4 - You gain the opportunity to collaborate, learn, and interact with these artists.
  %br
  %h4 - You could even find someone looking to hire you for a project.
  %br
  %h4 - If art and creativity are your passions, why wouldn't you want to sign up?
