%center.font-dark
  %h1 [ BLANK CREATIVE GROUP ]
  %br
  .panel.panel-default
    .panel-body.custom-body
      .font-orange
        %h2 Become an artist with [ BLANK ] by signing up... It's that simple.

      %h3 ~ No contracts or weird scummy business people trying to take your money ~
      %h3 ~ Once you sign up you become part of a growing community/family of artists ~
      %h3 ~ You gain the opportunity to collaborate, learn, and interact with these artists ~
      %h3 ~ You could even find someone looking to hire you for a project ~
      %h3
        %strong ~ If art and creativity are your passions, why wouldn't you want to sign up? ~
