%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"} [ BLANK ]

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          %a{:href => "/about"} About
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Login', root_path
        %li
          = link_to 'Sign up', root_path
